
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
@import 'libs';

@media only screen and (max-width: 1280px) { } 
@media only screen and (max-width: 992px) { } 
@media only screen and (max-width: 768px) { } 
@media only screen and (max-width: 480px) { } 
@media only screen and (max-width: 320px) { }



.body{
	font-family: 'Montserrat';
	font-style: normal;
}


.header {
	max-width: 100%;
	height: 597px;
	background: url('../images/kpacota.png') 658px 81px/524px 510px no-repeat;
	
}

.container {
	max-width: 1110px;
   height: 431px;
   margin: 0 auto;
}

.menu{
	display:flex;
	justify-content:space-between;
	padding-top: 30px;
	color: #333333;
}

.kpacota {
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
}

.menu1{
	display:flex;
	justify-content:row;
	align-items: center;
}

.menu__text {
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	display: flex;
	gap: 28px;
}

.menu__text a:hover {
	color: #00BF78;
}

.menu__text a {
	color: #333333;
	text-decoration: none;
}

.telefon {
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 14px;
	text-align: right;
}

.telefon a {
	color: #333333;
	text-decoration: none;
}

.time {
	font-style: normal;
	font-weight: 400;
	font-size: 11px;
	line-height: 14px;
	margin-top: 8px;
}

.text__icon {
	padding-top: 120px;
	display: flex;
	justify-content:space-between;
	align-items:flex-end;
}

.text__bth h2 {
	font-weight: 600;
	font-size: 48px;
	line-height: 59px;
	color: #333333;
	width: 540px;
	height: 118px;
}

.text__bth p {
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: #333333;
	width: 315px;
	height: 24px;
	padding-top: 17px;
	padding-bottom: 59px;
}

.text__bth button {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 17px 30px;
	position: absolute;
	width: 203px;
	height: 48px;
	background: #FB9475;
	border-radius: 24px;
	font-weight: 500;
	font-size: 14px;
	line-height: 14px;
	text-align: center;
	color: #FFFFFF;
} 

.icon {
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 32px;
	height: 128px;
}

.main {
	display:flex;
	flex-direction:column;
}

.container2 {
	
	max-width: 1109px;
	margin: 0 auto;
	margin-top: 94px;
}

h3 {
	width: 239.65px;
	height: 59.16px;
	font-weight: 700;
	font-size: 48px;
	line-height: 59px;
	color: #333333;
	margin-bottom: 32.09px;
}

.o_salone {
	width: 1109px;
	height: 387.31px;
	display: flex;
	justify-content:space-between;
}

.text1 {
	width: 569.54px;
	height: 96.26px;
	font-weight: 400;
	font-size: 20px;
	line-height: 32px;
	color: #333333;
	margin-bottom: 16.04px;
}

.text2 {
	width: 538.46px;
	height: 156.42px;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #333333;
}

.row__body {
	max-width: 1110px;
	height: 176px;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	justify-content:space-around;
	margin-top: 99.70px;
}

.row__1{
	display:flex;
	flex-direction:column;
	align-items:center;
}

.img1{
	margin-bottom: 33.6px;
}

.row__11 h4 {
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	color: #333333;
	margin-bottom: 8px;
	text-align: center;
}

.row__11 p {
	height: 66px;
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
	color: #333333;
	text-align: center;
}


.container4 {
	margin: 0 auto;
	padding-top: 100px;
}

.section{
	flex: 1 1 auto;
	margin: auto;
&__title{
	font-weight: 700;
	font-size: 48px;
	line-height: 59px;
	color: #333333;
}
&__inner{
	flex: 1 1 auto;
	max-width: 1109px;
}
}
.services{
	margin-top: -48px;
}
.services > div {
	margin-top: 48px;
}
.service {
&__img{
	height: 100%;
	width: auto;
	border-radius: 8px;
	
}
&__title{
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	color: #333333;
	padding-top: 20px;
}
&__descr{
	font-weight: 400;
	font-size: 12px;
	line-height: 20px;
	color: #333333;
	padding-top: 8px;
}
&__btn{
	width: 112px;
	height: 34px;
	background: #FB9475;
	border-radius: 17px;
	
}

}
.service__btn p {
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	color: #FFFFFF;
	Padding: 10px 20px 10px 20px;
}


.container5{
	padding-bottom: 100px;
	padding-top: 100px;
	max-width: 1109px;
	margin: 0 auto;

}


.price{
	&__header{
		font-weight: 700;
		font-size: 48px;
		line-height: 59px;
		color: #333333;
	}
}
.navig{
	padding-top: 32px;
	&__list{
		max-width: 794px;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		padding: 0px;
		gap: 28px;
	}
	&__link{
		font-weight: 500;
		font-size: 14px;
		line-height: 17px;
		color: #333333;
		text-decoration: none;
	}
	&__link:hover {
		color: #00BF78;
	}
}




.servic{
	
	&__title{
		padding: 0;
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
		color: #333333;}
	&__des{
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		color: #333333;
	}
	&__cent{
		font-weight: 600;
		font-size: 20px;
		line-height: 24px;
		text-align: right;
		color: #00BF78;
		
	}
}

.servic{
	display: flex;
	justify-content:space-between;
	max-width: 444.12px;

}

.container6{
	padding-top: 80px;
	max-width: 1110px;
	margin: 0 auto;
	padding-bottom: 80px;
}

.master{
	background: #F8F6F7;
	&__title{
		font-weight: 700;
		font-size: 48px;
		line-height: 59px;
		color: #333333;
		padding-bottom: 32px;
	}
	&__subtitle{
		font-weight: 400;
		font-size: 16px;
		line-height: 20px;
		color: #333333;
		margin-bottom: 24px;
	}
}

.gall{
	max-width: 255px;
	&__img{
		max-width: 255px;
		border-radius: 8px;
		align-self: center;
	}
	&__title{
		font-weight: 600;
		font-size: 18px;
		line-height: 22px;
		color: #333333;
		padding-top: 20px;
	}
	&__sab{
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		color: #333333;
		padding-top: 8px;
	}
	&__byyk{
		font-weight: 300;
		font-size: 12px;
		line-height: 15px;
		text-transform: uppercase;
		color: #333333;
		padding-top: 20px;
	}
}


.container7{

}

.work{
	&__header{
		max-width: 1110px;
		margin: 0 auto;
		display: flex;
		justify-content:space-between;
		align-items:center;
		padding-top: 80px;
	}
	&__title{
		font-weight: 700;
		font-size: 48px;
		line-height: 59px;
		color: #333333;
	}
	&__strelki{
		max-width: 96px;
		align-items: center;
	}
	&__img{
		display: flex;
		flex-direction: row;
		padding: 0px;
		gap: 16px;
	}
	&__galley{
		padding-top: 52px;
		padding-bottom: 100px;
		
	}
}

.rabota{
	&__foto{
		border-radius: 8px;
		max-width: 338px;
		min-height: 338px;
	}
}



.container8 {
	max-width: 1110px;
	margin: 0 auto;
}

.brands {
	padding-bottom: 100px;

	&__title {
		font-weight: 400;
		font-size: 16px;
		line-height: 20px;
		text-align: center;
		color: #333333;
	}
	&__img {
		padding-top: 40px;
		margin: 0 auto;
		max-width: 920px;
		min-height: 65px;
		opacity: 0.35;
		display:flex;
		justify-content:space-between;
		flex-wrap:wrap;
	}
}




.container9 {
	max-width: 1015px;
	margin: 0 auto;
	display: flex;
	justify-content:space-between;
	padding-bottom: 40px;
	padding-top: 40px;
}

.contacts{

	background: #F8F6F7;
	
	&__contact{
		max-width: 362.68px;
	}

	&__title{
		padding-top: 37.8px;
		font-weight: 700;
		font-size: 48px;
		line-height: 59px;
		color: #333333;
	}
	&__text{
		padding-top: 32px;
		font-weight: 400;
		font-size: 16px;
		line-height: 20px;
		color: #333333;
	}
	&__telef{
		padding-top: 20px;
		margin: 0;
	}

	&__telef a{
		text-decoration: none;
		font-weight: 400;
		font-size: 16px;
		line-height: 14px;
		color: #333333;
	}

	&__link{
		padding-top: 20px;
		margin: 0;
	}

	&__link a{
		font-weight: 400;
		font-size: 16px;
		line-height: 20px;
		text-decoration-line: underline;
		color: #278AFF;
	}

}


.networks {
	padding-top: 32px;
	&__title{}
}

.icons {
	max-width: 147.04px;
	display: flex;
	justify-content:space-between;
}



.Recording{
width: 445px;
height: 406px;
background: #FFFFFF;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
border-radius: 8px;
}





.footer {
	height: 78px;
}

.container3 {
	margin: 0 auto;
	display: flex;
	justify-content:space-between;
	padding-top: 30px;
	max-width: 1110.03px;
   
}

.mope p {
	width: 160.96px;
	height: 15px;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	color: #333333;
	margin: 0;
}

.mope a {
	width: 221.19px;
	height: 15px;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	text-decoration-line: underline;
	color: #278AFF;
	}

.menu2 {
	height: 17px;
	width: 372px;
}

.menu__text2 {
	display:flex;
	justify-content:space-between;
}

.menu__text2 a{
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	color: #333333;
	text-decoration: none;
}

.menu__text2 a:hover {
	text-decoration: 2px underline #278AFF;	
}

